img {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 25%;
}

table {
    position: absolute;
    top: 25%;
    left: 36%;
    z-index: 0;
    background-color: white;
    text-align: center;
    width: 575px;
    border-collapse: collapse;
    border-style: outset;
}

tr, th {
    border-collapse: collapse;
    border-style: outset;
}

td {
    background-color: lightyellow;
    border-collapse: collapse;
    border-style: outset;
}