.imgBlankFrame {
    background-color: #eeeeee;
    height: 195px;
    margin-right: 35px;
}

.jumbotron {
    background-color: #eeeeee;
    padding: 5%;
}

.articles {
    padding-left: 15px;
}

.active {
    border: 1px solid dimgray;
}