#gallery {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

#photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

img {
    width: 200px;
    height: 100px;
}

#current {
    width: 450px;
    height: 350px;
}